.App {
  text-align: center;
  
}

.results {
  display: flex;
  flex-flow: row wrap;
}

.flights{
  flex: 1.5;
}

.weather{
  flex: 1;
}

p {
  font-style: italic;
}

button:hover {
  cursor: pointer;
}